/*Navbar*/
a img {
    width: 100px;
    height: 40px
}


.navbar-gray {
    background-color: #454545 !important;
}

/*body bienvanida*/

.img-banner {
    background-image: url("../src/ba1.jpg") !important;
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
}

.text-banner {
    padding-left: 50%;
    padding-top: 15%;
    text-align: end;
}

.text-banner h1, .text-banner p{
    color: white;
}


/* body seccion de oradores cards */


div h2{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
    margin: 10px 0 10px 0;
} 

div h3{
    text-transform: uppercase;
    font-size: 30px;
}

.container-cards{
    display: flex;
    padding: 0 100px 0 100px;
}

.card {
    width: 33%;
    margin: 20px;
}

div p {
    color: black;
}

.card img{
    width: auto;
    height: 300px;
}

/* body seccion de informacion de buenos aires */

/* body formulario de convierte en orador */

/* footer */